.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
*.cjs
playwright.config.js
svelte.config.js
/coverage
/fixtures
vitest.config.ts
histoire.config.ts

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
