.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
*.cjs
tailwind.config.ts
playwright.config.js
svelte.config.js
/coverage
/fixtures
histoire.config.ts
histoire.setup.ts
bun.lockb
ranky-list.theme.ts
